body{
    background-image: url(images/bluee.jpeg);
    
}
#who { background: linear-gradient(to bottom, #4e4eff 0%, #66ccff 100%)}
nav { background-image: linear-gradient(#4e4eff,  #4e4eff)}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#school {
font-family: 'Indie Flower', cursive;;
  }
  #1a {font-family: 'Indie Flower', cursive;
}