body{
    background-image: url(images/bluee.jpeg);
    
}
#who { background: linear-gradient(to bottom, #4e4eff 0%, #66ccff 100%)}
nav { background-image: linear-gradient(#4e4eff,  #4e4eff)}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#school {
font-family: 'Indie Flower', cursive; color: white;
  }
  #1a {font-family: 'Indie Flower', cursive;
}
a {
    font-family: 'monotone', cursive;
}
#whom {
   font-family: 'Rock Salt', cursive;
    text-align: center;
}





* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  -ms-flex: 25%; 
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}


@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

<!--lYOUT-->
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}