
body{
    background-image: url(images/bluee.jpeg);
    
}
a {
    font-family: 'monotone', cursive;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#who { background: linear-gradient(to bottom, #4e4eff 0%, #66ccff 100%)
 
}
#whom {
   font-family: 'Rock Salt', cursive;
    text-align: center;
}

nav {background-image: linear-gradient(#4e4eff, #4e4eff); }


footer {
      background-image: linear-gradient(#4e4eff, #89cff0, #89cff0, #4e4eff);
}


#kylie {
    font-family: 'Barrio', cursive;
    text-align: center;
    color: white;
}