
body{
    background-image: url(images/bluee.jpeg);
    
}
a {
    font-family: 'monotone', cursive;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#who { background-color: lightblue; 
       background-image: linear-gradient(#4e4eff, #3a3aff, #44a6c6, #8fcadd, #add8e6, #cbe6ef, #ebebff, #ebebfe);
    
}
#whom {
   font-family: 'Rock Salt', cursive;
    text-align: center;
}

nav {background-image: linear-gradient(#4e4eff, #4e4eff); }





